/* home page */
.bg-photo{
    background:linear-gradient(rgba(0,0,0,0.1),#080808bb), url("../images/bgphoto.png");
    height: 662px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;   
}
.container{
    max-width: 1088px;
    width: 100%;
    height: 715px;
    margin: 0 auto;
    position: relative;
}
.header-wrapper{
    max-width: 1088px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    position: absolute;
    color: white;
}
.nav-ul{
    display: flex;
}
.nav-li:not(:last-child){
    margin-right: 50px;
}
.nav-li a {
    color: white;
}
.title1{
    max-width: 577px;
    width: 100%;
    height: 160px;
    font-size: 62px;
    color: white;
    margin-top: 230px;
    position: absolute;
    /* text-align: center; */
}
.paragraph1{
    position: absolute;
    max-width: 352px;
    width: 100%;
    height: 64px;
    margin-top: 389px;
    color: white;
}
.form-container{
    position: absolute;
    background-color: white;
    width: 100%;
    height: 150px;
    margin-top: 595px;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid gray;
    box-shadow: 5px 10px 5px gray;
}
.inputs{
    padding: 25px;
}
.label{
    color: #5863F8;
}
.input{
    background-color:rgb(224, 223, 223);
    outline: none;
    width: 260px;
    height: 50px;
    margin-top: 10px;
    border: none;
}
.icon{
    width: 70px;
    height: 51px;
    background-color: #5863F8;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-right: 20px;
}
.burger{
    display: none;
    font-size: 25px;
}
/* home page */

/* ABOUT US */

.about-us-wraper{
    max-width: 1088px;
    width: 100%;
    margin: 0 auto;
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.left-box{
    max-width: 444px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 5px 10px 5px gray;
}
.left-box h6 {
    color: #5863F8;
}
.left-box h3 {
    font-weight: bold;
    font-size: 30px;
}
.margin{
    margin-bottom: 15px;
}
.btn-readmore{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5863F8;
    padding: 15px 25px;
    color: white;
    cursor: pointer;
    border: none;
}
.arrow{
    margin-left: 5px;
    color: white;
}

.right-box{
    max-width: 536px;
    width: 100%;
}
.right-box img:not(:nth-child(3)){
    border: 3px solid black;
}
/* bg phoho2 */

.bg-photo2{
    background:linear-gradient(rgba(0,0,0,0.1),#080808bb), url("../images/bg-photo2.png");
    height: 612px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.wraper-block{
    max-width: 1088px;
    width: 100%;
    margin: 0 auto;
}
.paragraph2 {
    color: #5863F8;
    position: absolute;
    top: 90px;
}
.title2{
    position: absolute;
    top: 125px;
    font-size: 42px;
    color: white;
    max-width: 370px;
    width: 100%;
    line-height: 60px;
}
.boxes{
    position: absolute;
    top: 280px;
    display: flex;
}
.box{
    width: 260px;
    height: 260px;
    margin-right: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.boxphoto{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #5863F8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-paragraph, .box-title{
    text-align: center;
}
.box-paragraph{
    color: gray;
}

/* ABOUT US */
/* testimonials */
.testimonials{
    min-height: 487px;
    height: auto;
    background-color: rgb(240, 240, 240);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.testimonial-left{
    margin-top: 100px;
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
    height: 310px;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
}
.testimonial-name{
    color: #5863F8;
}
.testimonial-paragraph{
    font-size: 42px;
}
.john{
    display: flex;
}
.johndoe{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
}
.johncolor{
    color: rgb(126, 149, 150);
}
.johnparagraph{
    max-width: 352px;
    width: 100%;
    height: 62px;
}
.testimonial-right img{
    max-width: 587px;
    width: 100%;
}

/* testimonials */
/* RESTAURANT */
.restaurant-wraper{
    max-width: 1088px;
    width: 100%;
    margin: 0 auto;
    margin-top: 90px;
}
.rest-paragraph{
    color: #5863F8;
    margin-bottom: 20px;
}
.rest-title{
    font-size: 42px;
    max-width: 500px;
    width: 100%;
    line-height: 55px;
}
.menu-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 60px;
}
.menu{
    max-width: 536px;
    width: 100%;
    height: 190px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eeeeee;
    margin-bottom: 16px;
}

.food-title{
    color: #5863F8;
}
.food-title2{
    font-size: 20px;
    margin: 15px 0;
}
.food-paragraph{
    max-width: 240px;
    width: 100%;
    font-size: 14px;
    color: rgb(141, 141, 141);
}
.food-arrow{
    width: 60px;
    height: 60px;
    background: #5863F8;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: end;
}

/* RESTAURANT */
/* BLOG */
.blog-wraper{
    max-width: 1088px;
    width: 100%;
    margin: 0 auto;
    margin-top: 85px;
}
.blog-block{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.blog{
    max-width: 352px;
    width: 100%;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #eeeeee ;
    margin-bottom: 20px;
}
.blog-title{
    color: #5863F8 ;
    font-size: 14px;
}
.blog-title2{
    font-size: 42px;
    max-width: 470px;
    width: 100%;
    line-height: 60px;
    margin-bottom: 40px;
    margin-top: 15px;
}
.blog-paragraph1{
    color: #5863F8;
}
.blog-paragraph3{
    color: gray;
    margin-bottom: 25px;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
}

/* BLOG */