/* home page */
.bg-photo{
    background:linear-gradient(rgba(0,0,0,0.1),#080808bb), url("../images/bgphoto.png");
    height: 662px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;   
}
.container{
    max-width: 1088px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.header-wrapper{
    max-width: 1088px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    position: absolute;
    color: white;
}
.logo a{
    color: white;
    cursor: pointer;
}
.nav-ul{
    display: flex;
}
.nav-li:not(:last-child){
    margin-right: 50px;
}
.nav-li a {
    color: white;
    transition-duration: 0.3s;
}
.nav-li a:hover{
    color: #5863F8;
}
.title1{
    max-width: 577px;
    width: 100%;
    height: 160px;
    font-size: 62px;
    color: white;
    margin-top: 230px;
    position: absolute;
}
.paragraph1{
    position: absolute;
    max-width: 352px;
    width: 100%;
    height: 64px;
    margin-top: 389px;
    color: white;
}
.form-container{
    position: absolute;
    background-color: white;
    width: 100%;
    height: 150px;
    margin-top: 595px;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid gray;
    box-shadow: 5px 10px 5px gray;
}
.inputs{
    padding: 25px;
}
.label{
    color: #5863F8;
}
.input{
    background-color:rgb(224, 223, 223);
    outline: none;
    width: 260px;
    height: 50px;
    margin-top: 10px;
    border: none;
    padding: 20px;
}
.icon{
    width: 70px;
    height: 51px;
    background-color: #5863F8;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-right: 20px;
    cursor: pointer;
}
.burger{
    display: none;
    font-size: 25px;
}

/* home page */
/* ABOUT US */

.about-us-wraper{
    max-width: 1088px;
    width: 100%;
    margin: 0 auto;
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.left-box{
    max-width: 444px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 5px 10px 5px gray;
}
.left-box h6 {
    color: #5863F8;
}
.left-box h3 {
    font-weight: bold;
    font-size: 30px;
}
.margin{
    margin-bottom: 15px;
}
.btn-readmore{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5863F8;
    padding: 15px 25px;
    color: white;
    cursor: pointer;
    border: none;
}
.arrow{
    margin-left: 5px;
    color: white;
}

.right-box{
    max-width: 536px;
    width: 100%;
}
.right-box img:not(:nth-child(3)){
    border: 3px solid black;
}
/* bg phoho2 */

.bg-photo2{
    background:linear-gradient(rgba(0,0,0,0.1),#080808bb), url("../images/bg-photo2.png");
    height: 612px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.wraper-block{
    max-width: 1088px;
    width: 100%;
    margin: 0 auto;
}
.paragraph2 {
    color: #5863F8;
    position: absolute;
    top: 90px;
}
.title2{
    position: absolute;
    top: 125px;
    font-size: 42px;
    color: white;
    max-width: 370px;
    width: 100%;
    line-height: 50px;
}
.boxes{
    position: absolute;
    top: 280px;
    display: flex;
}
.box{
    width: 260px;
    height: 260px;
    margin-right: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.boxphoto{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #5863F8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-title{
    font-size: 18px;
    width: 150px;
    font-weight: bold;
    line-height: 25px;
}
.box-paragraph{
    width: 200px;
}
.box-paragraph, .box-title{
    text-align: center;
}
.box-paragraph{
    color: gray;
}

/* ABOUT US */
/* testimonials */

.testimonials{
    min-height: 487px;
    height: auto;
    background-color: rgb(240, 240, 240);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.testimonial-left{
    margin-top: 100px;
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
    height: 310px;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
}
.testimonial-name{
    color: #5863F8;
}
.testimonial-paragraph{
    font-size: 42px;
}
.john{
    display: flex;
}
.johndoe{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
}
.johncolor{
    color: rgb(126, 149, 150);
}
.johnparagraph{
    max-width: 352px;
    width: 100%;
    height: 62px;
    line-height: 20px;
}
.testimonial-right img{
    max-width: 587px;
    width: 100%;
}

/* testimonials */
/* RESTAURANT */

.restaurant-wraper{
    max-width: 1088px;
    width: 100%;
    margin: 0 auto;
    margin-top: 90px;
}
.rest-paragraph{
    color: #5863F8;
    margin-bottom: 20px;
}
.rest-title{
    font-size: 42px;
    max-width: 500px;
    width: 100%;
    line-height: 50px;
}
.menu-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 60px;
}
.menu{
    max-width: 536px;
    width: 100%;
    height: 190px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eeeeee;
    margin-bottom: 16px;
}

.food-title{
    color: #5863F8;
}
.food-title2{
    font-size: 20px;
    margin: 15px 0;
}
.food-paragraph{
    max-width: 240px;
    width: 100%;
    font-size: 14px;
    color: rgb(141, 141, 141);
}
.food-arrow{
    width: 60px;
    height: 60px;
    background: #5863F8;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: end;
    cursor: pointer;
}

/* RESTAURANT */
/* BLOG */

.blog-wraper{
    max-width: 1088px;
    width: 100%;
    margin: 0 auto;
    margin-top: 85px;
}
.blog-block{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.blog{
    max-width: 352px;
    width: 100%;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #eeeeee ;
    margin-bottom: 20px;
}
.blog-title{
    color: #5863F8 ;
    font-size: 14px;
}
.blog-title2{
    font-size: 42px;
    max-width: 470px;
    width: 100%;
    line-height: 50px;
    margin-bottom: 40px;
    margin-top: 15px;
}
.blog-paragraph1{
    color: #5863F8;
}
.blog-paragraph3{
    color: gray;
    margin-bottom: 25px;
    text-align: center;
    font-size: 14px;
    line-height: 15px;
}

/* BLOG */
/* photos */

.photos{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
}
.photo-wraper{
    margin-left: 170px;
    margin-top: 70px;

}
.phototitle{    
    color: #5863F8 ;  
    font-size: 14px;
    margin-bottom: 20px;
}
.photodescription{
    font-size: 42px;
    line-height: 50px;
}

/* photos */
/* footer */

.footer-bg{
    background-color:#121212;
    min-height: 395px;
}
.footer-wraper{
    max-width: 1020px;
    width: 100%;
    margin: 0 auto;
    padding-top: 95px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-icons{
    max-width: 260px;
    width: 100%;
}
.footer-title{
    font-size: 24px;
    color: white;
}
.footer-paragraph{
    font-size: 14px;
    color: rgb(180, 179, 179);
    margin-top: 30px;
    line-height: 20px;
    margin-bottom: 10px;
}
.cursor{
    cursor: pointer;
}
.twitter{
    margin: 0 10px;
}
.columns-footer{
    max-width: 570px;
    width: 100%;
    height: 155px;
    display: flex;
    justify-content: space-between;
}
.h1{
    font-size: 18px;
    color: white;
}
.columns-footer ul li a{
    color: #5863F8;
}
.white-text{
    color: white;
    font-weight: 100;
}
.ul-flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cotnact-icons{
    margin-right: 10px;
}
.last-line{
   margin-top: 40px;
}
.copy-paragraph{
    color: white;
    font-family: monospace;
}
/* footer */



/* ROOMS */


/* Rooms-homepage */

.bg-photo-1{
    background:linear-gradient(rgba(0,0,0,0.1),#080808bb), url("../images/bgphoto.png");
    height: 325px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;   
}
.room-container{
    position: absolute;
    top: 160px;
    width: 160px;
    height: 85px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
    .room-title{
        color: white;
        font-size: 42px;  
    }
    .home-a{
        color: white;
    }
    .home-room{
        display: flex;
        justify-content: space-between;
    }
    .border-line{
    border: 1px solid white;
    }

/* Rooms-homepage */
/* ABOUT US */      

.about-wraper{
    max-width: 1088px;
    width: 100%;
    margin: 90px auto 50px;
}
.about-title{
    font-size: 14px;
    color: #5863F8;
}
.about-text{
    font-size: 42px;
    line-height: 50px;
    max-width: 374px;
    width: 100%;
    margin-top: 20px;
}
.rooms{
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
    flex-wrap: wrap;
}
.room{
    max-width: 536px;
    width: 100%;
    height: 190px;
    background-color: rgb(238, 236, 236);
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.room-text{
    max-width: 255px;
    width: 100%;
    height: 120px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.p-type{
    color: #5863F8;
}
.midle-text{
    font-size: 18px;
}
.small-text{
    color: rgb(173, 173, 173);
    font-size: 14px;
}
.room-btn{
    height: 100%;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5863F8;
    cursor: pointer;
}

/* ABOUT US */
/* form */

.form-bg{
    width: 100%;
    min-height: 190px;
    background-color:  rgb(238, 236, 236);
}
.form-wraper{
    max-width: 1090px;
    width: 100%;
    min-height: 190px;
    margin: 0 auto;
}
.check-in-date{
    display: inline-block;
    padding: 50px 0;
    margin-left: 9px;
}
.check-in-date label{
    font-size: 13px;
    color: #5863F8 ;
    display: block;
}
.check-in-date input{
    outline: none;
    width: 260px;
    height: 50px;
    margin-top: 10px;
    border: none;
    padding: 20px;
}
.submit-btn{
    width: 260px;
    height: 50px;
    background-color: #5863F8;
    color: white;
    border: none;
    font-size: 13px;
    cursor: pointer;
}
.plane-icon{
    margin-left: 10px;
}

/* form */











/* ROOMS */
